div.h2.logo_h2 {
    font-size: 40px;
    margin-top: 8px;
    text-align: left;
}
.h2 {
    font-family: "Beresta";
    color: #192d37;
    font-size: 44px;
    font-weight: 400;
    margin-top: 43px;
    margin-bottom: 8px;
    text-align: center;
}
.presText h2 {
    color: #192d37;
    font-family: "KelsonSans";
    margin-top: 0px;
    font-size: 33px;
    font-weight: 400;
}
.h2 {
    font-family: "Beresta";
    color: #192d37;
    font-size: 44px;
    font-weight: 400;
    margin-top: 43px;
    margin-bottom: 8px;
    text-align: center;
}
div.easy-work div.h2 {
    color: #192d37;
    font-family: KelsonSans;
    font-size: 40px;
    font-weight: 700;
    margin-top: 26px;
}


12  p
14  h6
18  h4
24  h2
33  .bigger
36  .huge+1
40  .giant+1
44  .giant+3
60  .giant+19

.giant { font-size:41pt; }
 .huge { font-size:35pt; }
  .big { font-size:31pt; }
    h1 { font-size:27pt; margin-top:0; }
    h2 { font-size:24pt; }
    h3 { font-size:21pt; } 
    h4 { font-size:18pt; }
    h5 { font-size:16pt; }
    h6 { font-size:14pt; }
     p { font-size:12pt; margin-bottom:15pt; }
.menus { font-size:10pt; }
.legal { font-size: 9pt; }
.micro { font-size: 8pt; }
.zilch { font-size: 7pt; }
